apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Values.name }}-deployment"
spec:
  replicas: 1 # You can scale this up later
  selector:
    matchLabels:
      app: "{{ .Values.name }}"
  template:
    metadata:
      labels:
        app: "{{ .Values.name }}"
    spec:
      containers:
      - name: "{{ .Values.name }}-container"
        image: ghcr.io/sorjak/magic-ninja:latest
        ports:
        - containerPort: {{ .Values.service.targetPort }}
