apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Values.name }}-deployment"
spec:
  replicas: 1 # You can scale this up later
  selector:
    matchLabels:
      app: "{{ .Values.name }}"
  template:
    metadata:
      labels:
        app: "{{ .Values.name }}"
    spec:
      containers:
      - name: "{{ .Values.name }}-container"
        imagePullPolicy: Always
        image: {{ .Values.service.image }}:{{ .Values.service.tag }}
        ports:
        - containerPort: {{ .Values.service.targetPort }}
        env:
          {{- range $key, $value := $.Values.env }}
          - name: {{ $key }}
            value: {{ $value | quote }}
          {{- end }}
        envFrom:
        - secretRef:
            name: magic-ninja-secrets
      imagePullSecrets:
      - name: ghcr-login-secret
